[Desktop Entry]
Type=Application
Name=conky
TryExec=conky
Exec=conky --daemonize --pause=1
StartupNotify=false
Terminal=false
Icon=conky-logomark-violet
NoDisplay=true
Categories=System;Monitor;
